[Unit]
Description=A daemon for automatic freeipa backups

[Service]
User=root
ExecStart=/usr/local/sbin/ipabakd.sh 4

[Install]
WantedBy=multi-user.target
